<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="ContentDataBase" connectionString="server=172.16.5.202;Port=8066;User Id=cmmc;password=v3wceznEkXL2TL2CVFAw;database=CM_MC_CONTENT;Allow Zero Datetime=True;charset=utf8;Min Pool Size=1;Max Pool Size=5" providerName="Light.Data.MysqlAdapter.Mysql,Light.Data.MysqlAdapter" />
	</connectionStrings>
</configuration>