<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="lightDataConfig" type="Light.Data.LightDataConfigurationSectionHandler,Light.Data" />
	</configSections>
	<appSettings>
		<add key="lightDataConfig" value="lightdata2" />
	</appSettings>
	<connectionStrings>
		<add name="sqlite" connectionString="Data Source=/Developer/Website/CM_TEST.sqlite;" providerName="Light.Data.SQLiteAdapter.SQLite,Light.Data.SQLiteAdapter" />
	</connectionStrings>
	<lightDataConfig>
		<dataType type="Light.Data.UnitTest.TeCheckValueConfig0,Light.Data.UnitTest" tableName="Te_CheckValue" isEntityTable="true" extendParams="">
			<dataField fieldName="Id" name="Id" isNullable="false" isPrimaryKey="true" isIdentity="true" />
			<dataField fieldName="CheckId" name="CheckId" isNullable="false" />
			<dataField fieldName="CheckRate" name="CheckRate" isNullable="false" />
			<dataField fieldName="CheckTime" name="CheckTime" isNullable="false" />
			<dataField fieldName="CheckDate" name="CheckDate" isNullable="false" />
			<dataField fieldName="CheckData" name="CheckData" isNullable="false" />
			<dataField fieldName="CheckLevel" name="CheckLevel" isNullable="false" />
		</dataType>
		<dataType type="Light.Data.UnitTest.TeCheckValueConfigS1,Light.Data.UnitTest" tableName="Te_CheckValue" isEntityTable="true" extendParams="config1">
			<dataField fieldName="Id" name="Id" isNullable="false" isPrimaryKey="true" isIdentity="true" />
			<dataField fieldName="CheckId" name="CheckId" isNullable="false" defaultValue="1" />
			<dataField fieldName="CheckRate" name="CheckRate" isNullable="false" defaultValue="0.02" />
			<dataField fieldName="CheckTime" name="CheckTime" isNullable="false" defaultValue="Now" />
			<dataField fieldName="CheckDate" name="CheckDate" isNullable="false" defaultValue="Today" />
			<dataField fieldName="CheckData" name="CheckData" isNullable="false" defaultValue="TeCheckValueConfigS1" />
			<dataField fieldName="CheckLevel" name="CheckLevel" isNullable="false" defaultValue="High" />
			<extendParams>
				<parameter name="config1" value="true" />
				<parameter name="config2" value="false" />
			</extendParams>
		</dataType>
		<aggregateType type="Light.Data.UnitTest.LevelIdAggConfig0,Light.Data.UnitTest" extendParams="config1">
			<aggregateField fieldName="LevelId" name="LevelId" />
			<aggregateField fieldName="Data" name="Data" />
			<extendParams>
				<parameter name="config1" value="true" />
				<parameter name="config2" value="false" />
			</extendParams>
		</aggregateType>
	</lightDataConfig>
</configuration>