<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="lightDataConfig" type="Light.Data.LightDataConfigurationSectionHandler,Light.Data" />
	</configSections>
	<appSettings>
		<add key="liaghDataConfig" value="lightdata2" />
	</appSettings>
	<connectionStrings>
		<add name="mssql" connectionString="Data Source=192.168.210.130;User ID=sa;Password=qwerty;Initial Catalog=CM_TEST;Min Pool Size=1;Max Pool Size=5 --extendparam:Version=12" providerName="Light.Data.Mssql,Light.Data" />
	</connectionStrings>
	<lightDataConfig>
		<dataType type="Light.Data.MssqlTest.TeCheckValueConfig0,Light.Data.MssqlTest" tableName="Te_CheckValue" isEntityTable="true" extendParams="">
			<dataField fieldName="Id" name="Id" isNullable="false" isPrimaryKey="true" isIdentity="true" />
			<dataField fieldName="CheckId" name="CheckId" isNullable="false" />
			<dataField fieldName="CheckRate" name="CheckRate" isNullable="false" />
			<dataField fieldName="CheckTime" name="CheckTime" isNullable="false" />
			<dataField fieldName="CheckDate" name="CheckDate" isNullable="false" />
			<dataField fieldName="CheckData" name="CheckData" isNullable="false" />
			<dataField fieldName="CheckLevel" name="CheckLevel" isNullable="false" />
		</dataType>
		<dataType type="Light.Data.MssqlTest.TeCheckValueConfigS1,Light.Data.MssqlTest" tableName="Te_CheckValue" isEntityTable="true" extendParams="config1">
			<dataField fieldName="Id" name="Id" isNullable="false" isPrimaryKey="true" isIdentity="true" />
			<dataField fieldName="CheckId" name="CheckId" isNullable="false" defaultValue="1" />
			<dataField fieldName="CheckRate" name="CheckRate" isNullable="false" defaultValue="0.02" />
			<dataField fieldName="CheckTime" name="CheckTime" isNullable="false" defaultValue="Now" />
			<dataField fieldName="CheckDate" name="CheckDate" isNullable="false" defaultValue="Today" />
			<dataField fieldName="CheckData" name="CheckData" isNullable="false" defaultValue="TeCheckValueConfigS1" />
			<dataField fieldName="CheckLevel" name="CheckLevel" isNullable="false" defaultValue="High" />
		</dataType>
		<aggregateType type="Light.Data.MssqlTest.LevelIdAggConfig0,Light.Data.MssqlTest" extendParams="config1">
			<aggregateField fieldName="LevelId" name="LevelId" />
			<aggregateField fieldName="Data" name="Data" />
		</aggregateType>
	</lightDataConfig>
</configuration>