<?xml version="1.0" encoding="utf-8"?>
<lightDataConfig>
	<dataType type="Light.Data.MssqlTest.TeCheckValueConfig,Light.Data.MssqlTest" tableName="Te_CheckValue" isEntityTable="true" extendParams="">
		<dataField fieldName="Id" name="Id" isNullable="false" isPrimaryKey="true" isIdentity="true" />
		<dataField fieldName="CheckId" name="CheckId" isNullable="false" />
		<dataField fieldName="CheckRate" name="CheckRate" isNullable="false" />
		<dataField fieldName="CheckTime" name="CheckTime" isNullable="false" />
		<dataField fieldName="CheckDate" name="CheckDate" isNullable="false" />
		<dataField fieldName="CheckData" name="CheckData" isNullable="false" />
		<dataField fieldName="CheckLevel" name="CheckLevel" isNullable="false" />
	</dataType>
	<dataType type="Light.Data.MssqlTest.TeCheckValueConfig1,Light.Data.MssqlTest" tableName="Te_CheckValue" isEntityTable="true" extendParams="">
		<dataField fieldName="Id" name="Id" isNullable="false" isPrimaryKey="true" isIdentity="true" />
		<dataField fieldName="CheckId" name="CheckId" isNullable="false" />
		<dataField fieldName="CheckRate" name="CheckRate" isNullable="false" />
		<dataField fieldName="CheckTime" name="CheckTime" isNullable="false" />
		<dataField fieldName="CheckDate" name="CheckDate" isNullable="false" />
		<dataField fieldName="CheckData" name="CheckData" isNullable="false" />
		<dataField fieldName="CheckLevel" name="CheckLevel" isNullable="false" />
	</dataType>
	<dataType type="Light.Data.MssqlTest.TeCheckValueConfig2,Light.Data.MssqlTest" tableName="Te_CheckValue" isEntityTable="true" extendParams="">
		<dataField fieldName="Id" name="Id" isNullable="false" isPrimaryKey="true" isIdentity="true" />
		<dataField fieldName="CheckId" name="CheckId" isNullable="false" defaultValue="1" />
		<dataField fieldName="CheckRate" name="CheckRate" isNullable="false" defaultValue="0.02" />
		<dataField fieldName="CheckTime" name="CheckTime" isNullable="false" defaultValue="Now" />
		<dataField fieldName="CheckDate" name="CheckDate" isNullable="false" defaultValue="Today" />
		<dataField fieldName="CheckData" name="CheckData" isNullable="false" defaultValue="TeCheckValueConfigC1" />
		<dataField fieldName="CheckLevel" name="CheckLevel" isNullable="false" defaultValue="High" />
	</dataType>
		<dataType type="Light.Data.MssqlTest.TeCheckValueConfig3,Light.Data.MssqlTest" tableName="Te_CheckValue" isEntityTable="true" extendParams="">
		<dataField fieldName="Id" name="Id" isNullable="false" isPrimaryKey="true" isIdentity="true" />
		<dataField fieldName="CheckId" name="CheckId" isNullable="false" defaultValue="1" />
		<dataField fieldName="CheckRate" name="CheckRate" isNullable="false" defaultValue="0.02" />
		<dataField fieldName="CheckTime" name="CheckTime" isNullable="false" defaultValue="2016-01-19 22:10:10" />
		<dataField fieldName="CheckDate" name="CheckDate" isNullable="false" defaultValue="2016-01-19" />
		<dataField fieldName="CheckData" name="CheckData" isNullable="false" defaultValue="TeCheckValueConfigC2" />
		<dataField fieldName="CheckLevel" name="CheckLevel" isNullable="false" defaultValue="High" />
	</dataType>
	<dataType type="Light.Data.MssqlTest.TeCheckValueConfigS1,Light.Data.MssqlTest" tableName="Te_CheckValue" isEntityTable="true" extendParams="config2">
		<dataField fieldName="Id" name="Id" isNullable="false" isPrimaryKey="true" isIdentity="true" />
		<dataField fieldName="CheckId" name="CheckId" isNullable="false" defaultValue="1" />
		<dataField fieldName="CheckRate" name="CheckRate" isNullable="false" defaultValue="0.02" />
		<dataField fieldName="CheckTime" name="CheckTime" isNullable="false" defaultValue="Now" />
		<dataField fieldName="CheckDate" name="CheckDate" isNullable="false" defaultValue="Today" />
		<dataField fieldName="CheckData" name="CheckData" isNullable="false" defaultValue="TeCheckValueConfigS1" />
		<dataField fieldName="CheckLevel" name="CheckLevel" isNullable="false" defaultValue="High" />
	</dataType>
	<aggregateType type="Light.Data.MssqlTest.LevelIdAggConfig,Light.Data.MssqlTest" extendParams="config">
		<aggregateField fieldName="LevelId" name="LevelId" />
		<aggregateField fieldName="Data" name="Data" />
	</aggregateType>
	<aggregateType type="Light.Data.MssqlTest.LevelIdAggConfig0,Light.Data.MssqlTest" extendParams="config2">
		<aggregateField fieldName="LevelId" name="LevelId" />
		<aggregateField fieldName="Data" name="Data" />
	</aggregateType>
</lightDataConfig>