<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="lightDataConfig" type="Light.Data.LightDataConfigurationSectionHandler,Light.Data" />
	</configSections>
	<appSettings>
		<add key="lightDataConfig" value="lightdata2" />
	</appSettings>
	<connectionStrings>
		<add name="postgre" connectionString="Server=localhost;Port=5432;UserId=root;Password=qwerty;Database=CM_TEST;" providerName="Light.Data.PostgreAdapter.Postgre,Light.Data.PostgreAdapter" />
	</connectionStrings>
	<lightDataConfig>
		<dataType type="Light.Data.PostgreTest.TeCheckValueConfig0,Light.Data.PostgreTest" tableName="Te_CheckValue" isEntityTable="true" extendParams="">
			<dataField fieldName="Id" name="Id" isNullable="false" isPrimaryKey="true" isIdentity="true" />
			<dataField fieldName="CheckId" name="CheckId" isNullable="false" />
			<dataField fieldName="CheckRate" name="CheckRate" isNullable="false" />
			<dataField fieldName="CheckTime" name="CheckTime" isNullable="false" />
			<dataField fieldName="CheckDate" name="CheckDate" isNullable="false" />
			<dataField fieldName="CheckData" name="CheckData" isNullable="false" />
			<dataField fieldName="CheckLevel" name="CheckLevel" isNullable="false" />
		</dataType>
		<dataType type="Light.Data.PostgreTest.TeCheckValueConfigS1,Light.Data.PostgreTest" tableName="Te_CheckValue" isEntityTable="true" extendParams="config1">
			<dataField fieldName="Id" name="Id" isNullable="false" isPrimaryKey="true" isIdentity="true" />
			<dataField fieldName="CheckId" name="CheckId" isNullable="false" defaultValue="1" />
			<dataField fieldName="CheckRate" name="CheckRate" isNullable="false" defaultValue="0.02" />
			<dataField fieldName="CheckTime" name="CheckTime" isNullable="false" defaultValue="Now" />
			<dataField fieldName="CheckDate" name="CheckDate" isNullable="false" defaultValue="Today" />
			<dataField fieldName="CheckData" name="CheckData" isNullable="false" defaultValue="TeCheckValueConfigS1" />
			<dataField fieldName="CheckLevel" name="CheckLevel" isNullable="false" defaultValue="High" />
		</dataType>
		<aggregateType type="Light.Data.PostgreTest.LevelIdAggConfig0,Light.Data.PostgreTest" extendParams="config1">
			<aggregateField fieldName="LevelId" name="LevelId" />
			<aggregateField fieldName="Data" name="Data" />
		</aggregateType>
	</lightDataConfig>
</configuration>