<?xml version="1.0" encoding="utf-8"?>
<lightDataConfig>
	<dataType type="Light.Data.PostgreTest.TeCheckValueConfigA1,Light.Data.PostgreTest" tableName="Te_CheckValue" isEntityTable="true" extendParams="config2">
		<dataField fieldName="Id" name="Id" isNullable="false" isPrimaryKey="true" isIdentity="true" />
		<dataField fieldName="CheckId" name="CheckId" isNullable="false" defaultValue="1" />
		<dataField fieldName="CheckRate" name="CheckRate" isNullable="false" defaultValue="0.02" />
		<dataField fieldName="CheckTime" name="CheckTime" isNullable="false" defaultValue="Now" />
		<dataField fieldName="CheckDate" name="CheckDate" isNullable="false" defaultValue="Today" />
		<dataField fieldName="CheckData" name="CheckData" isNullable="false" defaultValue="TeCheckValueConfigA1" />
		<dataField fieldName="CheckLevel" name="CheckLevel" isNullable="false" defaultValue="High" />
	</dataType>
	<aggregateType type="Light.Data.PostgreTest.LevelIdAggConfigA1,Light.Data.PostgreTest" extendParams="">
		<aggregateField fieldName="LevelId" name="LevelId" />
		<aggregateField fieldName="Data" name="Data" />
	</aggregateType>
</lightDataConfig>