<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="lightDataConfig" type="Light.Data.LightDataConfigurationSectionHandler,Light.Data" />
	</configSections>
	<appSettings>
		<add key="lighDataConfig" value="lightdata2" />
	</appSettings>
	<connectionStrings>
		<add name="mysql" connectionString="server=localhost;Port=3306;User Id=root;password=qwerty;database=CM_TEST;Allow Zero Datetime=True;charset=utf8;Min Pool Size=1;Max Pool Size=5" providerName="Light.Data.MysqlAdapter.Mysql,Light.Data.MysqlAdapter" />
	</connectionStrings>
	<lightDataConfig>
		<dataType type="Light.Data.MysqlTest.TeCheckValueConfig0,Light.Data.MysqlTest" tableName="Te_CheckValue" isEntityTable="true">
			<dataField fieldName="Id" name="Id" isNullable="false" isPrimaryKey="true" isIdentity="true" />
			<dataField fieldName="CheckId" name="CheckId" isNullable="false" />
			<dataField fieldName="CheckRate" name="CheckRate" isNullable="false" />
			<dataField fieldName="CheckTime" name="CheckTime" isNullable="false" />
			<dataField fieldName="CheckDate" name="CheckDate" isNullable="false" />
			<dataField fieldName="CheckData" name="CheckData" isNullable="false" />
			<dataField fieldName="CheckLevel" name="CheckLevel" isNullable="false" />
		</dataType>
		<dataType type="Light.Data.MysqlTest.TeCheckValueConfigS1,Light.Data.MysqlTest" tableName="Te_CheckValue" isEntityTable="true" extendParams="config1">
			<extendParams>
				<parameter name="config1" value="true" />
				<parameter name="config2" value="false" />
			</extendParams>
			<dataField fieldName="Id" name="Id" isNullable="false" isPrimaryKey="true" isIdentity="true" />
			<dataField fieldName="CheckId" name="CheckId" isNullable="false" defaultValue="1" />
			<dataField fieldName="CheckRate" name="CheckRate" isNullable="false" defaultValue="0.02" />
			<dataField fieldName="CheckTime" name="CheckTime" isNullable="false" defaultValue="Now" />
			<dataField fieldName="CheckDate" name="CheckDate" isNullable="false" defaultValue="Today" />
			<dataField fieldName="CheckData" name="CheckData" isNullable="false" defaultValue="TeCheckValueConfigS1" />
			<dataField fieldName="CheckLevel" name="CheckLevel" isNullable="false" defaultValue="High" />
		</dataType>
		<aggregateType type="Light.Data.MysqlTest.LevelIdAggConfig0,Light.Data.MysqlTest" extendParams="config1">
			<extendParams>
				<parameter name="config1" value="true" />
				<parameter name="config2" value="false" />
			</extendParams>
			<aggregateField fieldName="LevelId" name="LevelId" />
			<aggregateField fieldName="Data" name="Data" />
		</aggregateType>
	</lightDataConfig>
</configuration>