<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="mysql" connectionString="server=localhost;Port=3306;User Id=root;password=qwerty;database=CM_TEST;Allow Zero Datetime=True;charset=utf8;Min Pool Size=1;Max Pool Size=5" providerName="Light.Data.MysqlAdapter.Mysql,Light.Data.MysqlAdapter" />
	</connectionStrings>
</configuration>