<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="lightDataConfig" type="Light.Data.LightDataConfigurationSectionHandler,Light.Data" />
	</configSections>
	<appSettings>
		<add key="lighDataConfig" value="lightdata2" />
	</appSettings>
	<connectionStrings>
		<add name="oracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.71.34.101)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=orcl)));User Id=oracle_test; Password=qwerty" providerName="Light.Data.OracleAdapter.Oracle,Light.Data.OracleAdapter" />
	</connectionStrings>
	<connectionExtendConfig>
		<connection name="oracle">
			<parameter name="innerPage" value="true" />
		</connection>
	</connectionExtendConfig>
	<lightDataConfig>
		<dataType type="Light.Data.OracleTest.TeCheckValueConfig0,Light.Data.OracleTest" tableName="Te_CheckValue" isEntityTable="true" extendParams="">
			<dataField fieldName="Id" name="Id" isNullable="false" isPrimaryKey="true" isIdentity="true" />
			<dataField fieldName="CheckId" name="CheckId" isNullable="false" />
			<dataField fieldName="CheckRate" name="CheckRate" isNullable="false" />
			<dataField fieldName="CheckTime" name="CheckTime" isNullable="false" />
			<dataField fieldName="CheckDate" name="CheckDate" isNullable="false" />
			<dataField fieldName="CheckData" name="CheckData" isNullable="false" />
			<dataField fieldName="CheckLevel" name="CheckLevel" isNullable="false" />
		</dataType>
		<dataType type="Light.Data.OracleTest.TeCheckValueConfigS1,Light.Data.OracleTest" tableName="Te_CheckValue" isEntityTable="true" extendParams="config1">
			<dataField fieldName="Id" name="Id" isNullable="false" isPrimaryKey="true" isIdentity="true" />
			<dataField fieldName="CheckId" name="CheckId" isNullable="false" defaultValue="1" />
			<dataField fieldName="CheckRate" name="CheckRate" isNullable="false" defaultValue="0.02" />
			<dataField fieldName="CheckTime" name="CheckTime" isNullable="false" defaultValue="Now" />
			<dataField fieldName="CheckDate" name="CheckDate" isNullable="false" defaultValue="Today" />
			<dataField fieldName="CheckData" name="CheckData" isNullable="false" defaultValue="TeCheckValueConfigS1" />
			<dataField fieldName="CheckLevel" name="CheckLevel" isNullable="false" defaultValue="High" />
		</dataType>
		<aggregateType type="Light.Data.OracleTest.LevelIdAggConfig0,Light.Data.OracleTest" extendParams="config1">
			<aggregateField fieldName="LevelId" name="LevelId" />
			<aggregateField fieldName="Data" name="Data" />
		</aggregateType>
	</lightDataConfig>
</configuration>